.filtro {
  float: left;
   margin-right: 1em; 
}

form.paginacionF {
  display: inline;
}

.documents {
  float: left;
  width: 80%;
}

input[type="text"] {
  width: 600px;
}

.documento_unico{
border-radius: 25px;
    border: 2px solid #071AC0;
    padding: 20px; 
    width: 200px;
    height: 150px;
    float: inherit;	
}

.documento_unico_data{
border-radius: 25px;
    border: 2px solid #071AC0;
    padding: 20px; 
    float: inherit;	
}


.documento_unico_resto {
  overflow-y: auto;
  height: 100px;
  float: left;
}

.documento_unico_icono {
  float: left;
  margin-right: 2em;
 }
 
 .documento_unico_abrir {
  height: 50px;
  vertical-align: middle;
  text-align: center;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

summary {
  font-weight: bold;
}

li.lisummary {
  font-weight: bold;
}

span.svalueE {
 font-weight: normal;
  color: darkblue;
}

a.avalueE {
font-weight: normal;
  color: darkblue;
}

span.verDocumentId {
 margin: 2em 3em 2em 0em;
  font-weight: bold;
  color: green;
  font-size: small;
  float: right;
}

span.verDocumentDescription {
  margin: 2em 3em 2em 1em;
  font-weight: bold;
  color: darkred;
  font-size: x-large;
}

.scrollFilter {
  overflow-y: auto;
  max-height: 200px;
  max-width: 210px;
}