@font-face {
       font-family: "mnemosine";
       src = url('fuentes/OratorStd.otf') format("opentype"); 
 
}

@font-face {   
  font-family: "Kimberley";   
  src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype"); 
}


.filtro {
  float: left;
   margin-right: 1em; 
}

form.paginacionF {
  display: inline;
}

.documents {
  float: left;
  width: 80%;
}

input[type="text"] {
  width: 600px;
}

.documento_unico{
border-radius: 25px;
    border: 2px solid #071AC0;
    padding: 20px; 
    width: 100%;
    float: inherit;	
}

.documento_unico_data{
border-radius: 25px;
    border: 2px solid #071AC0;
    padding: 20px; 
    float: inherit;	
}


.documento_unico_resto {
  overflow-y: auto;
  max-height: 100px;
  float: left;
}

.documento_unico_icono {
  float: left;
  margin-right: 2em;
 }
 
 .documento_unico_abrir {
  height: 50px;
  vertical-align: top;
  text-align: right;
  float: right;
}



ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

summary {
  font-weight: bold;
}

li.lisummary {
  font-weight: bold;
}

span.svalueE {
 font-weight: normal;
  color: black;
}

a.avalueE {
font-weight: normal;
  color: darkblue;
}

span.verDocumentId {
 margin: 2em 3em 2em 0em;
  font-weight: bold;
  color: green;
  font-size: small;
  float: right;
}

span.verDocumentDescription {
  margin: 2em 3em 2em 1em;
  font-weight: bold;
  color: darkred;
  font-size: x-large;
}

.scrollFilter {
  overflow-y: auto;
  max-height: 200px;
  max-width: 210px;
}

a.paginadorActivo {
  pointer-events: none;
  cursor: default;
  color: black;
}

span.resultado_test_value {
  font-weight: bold;
}

span.resultado_test {
  font-size: x-large;
}
span.resultado_test_number {
  font-size: x-large;
}

span.resultado_test_number_value {
 font-weight: bold;
}


span.Descripcion_documento_buscador_valor {
 font-weight: bold;
 color: darkred;
  font-size: x-large;
}

.cabecera_smart_library{
  text-align: right;

  }

  body{
  text-align: center;
  font-family: mnemosine, Orator Std ;
  
  }

.zona_icono{
background-image: url("imagenes/lienzo.png");
/*background-size: 80px 60px;*/
    background-repeat: no-repeat;
 background-attachment: fixed;
    background-position: center; 
}

.buscador_simple
{
 text-align: left;
 font-size: 20px;
       text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

 }

 .buscador_simple_zona{
 margin-left: 3em;
 }
 

p.texto_cabecera {
  margin-top: 0em;
  font-size: 50px;
  font-weight: bold;
      text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;

}